.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F3E3D3;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none; /* 기본 링크 스타일 무효화 */
    color: inherit; /* 부모 요소의 색상 상속 */
}

.logoImage {
    width: 55px;
    height: auto; 
    margin-right: 20px; 
}

.logoText {
    font-family: "DoHyeon-Regular";
    font-size: 30px;
}

.navbar {
    display: flex;
    position: relative;
}

.navbarMenu {
    /* font-family: "DoHyeon-Regular"; */
    font-family: "Pretendard-Bold";
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
    border-right-color: black;
}

.navbarMenu:hover {
    color: #D3705B;
    text-decoration: underline;
}

/* 로고 링크 클릭 시 스타일 변경 무효화 */
.logo:link, .logo:visited, .logo:hover, .logo:active {
    text-decoration: none;
    color: inherit;
}
